.App {
  text-align: center;
}

.jumbotron {
  background-color: #eee;
  margin: auto;
  padding: 30px;
  background-image: url(./background.jpeg);
  background-size: cover;
}

.jumbotron button {
  background-color: rgb(41, 217, 230);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.container2 {
  margin-top: 100px;
}

.container2 img {
  width: 100%;
}

.link {
  text-decoration: none;
  color: black;
}

.my-alert2 {
  background-color: lightyellow;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.my-alert2 p {
  margin-bottom: 0;
}


